<div class="border-solid border-b-2 py-2">
    <MudText Typo="Typo.h5">
        <MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Large" />
        @Widget.Description
    </MudText>
</div>
<MudContainer Style="font-size: 1.3em" Class="mt-3">
    @((MarkupString)Widget.HtmlContent)
</MudContainer>

<TagList Tags="Widget.Tags" IsSquare="true" />

@code {

    [Parameter]
    public Widget Widget { get; set; } = new();
}
